*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* position:relative; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
:root{
    --borderHelp: pink solid 2px;
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: rgb(109, 112, 141);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
    --violet: rgb(128, 0, 128);
    --LinearGradient: linear-gradient(236deg, #696fdd, #a3a8f0);
}
.container {
  border: var(--borderHelp);
  background-color: var(--VeryLightGrayishBlue);
  min-width: 375px;
  max-width: 576px;
  margin: 0 auto;
  background-image: url('../images/bg-top.svg'),
  url('../images/bg-bottom.svg');
  background-repeat: no-repeat;
  /* background-position: 400% -10%, 0 100%; */
}

/* xxx HEADER xxx */
header h1{
    color:var(--GrayishBlue);
    font-weight: 700;
    text-align: center;
    padding: 5% 0 7.5%;
}
header ul{
    color: var(--LightGrayishBlue);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}
header ul li{
    /* border: var(--borderHelp); */
    width: 20%;
    height: 10%;
    font-size: 1.8vh;
    font-weight: bold;
    text-align: center;
    padding: 0.5%;
    margin-right: 4.5%;
}
.annually,
.monthly .slider {
  cursor: pointer;
}

/* xxx MAIN xxx  */
.card{
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgba(109,112,141,0.24);
    margin: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.card.basis{
  margin-top:0;
}


/* ---toggle.button--- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(236deg, #696fdd, #a3a8f0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background: linear-gradient(236deg, #696fdd, #a3a8f0);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #696fdd;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

/*--- ul --- */
ul.base{
  color: var(--DarkGrayishBlue);
}
ul.base:nth-child(2){
  color: #fff !important;
}
.base li{
    padding: 5% 0;
    text-align: center;
    margin: 0 10%;
}

.base li:not(:first-child){
    border-bottom: rgb(179, 181, 198) solid 0.18rem;
    margin: 0 10%;
}
.base li:first-child{
    padding-top:5%;
    font-size: 2vh;
}
.base li.price{
    font-size: 3.55vh;
}
.year.frequency {
  visibility: visible;
  display: block;
}
.year.frequency.active {
  visibility: hidden;
  display: none;
}
.month.frequency.active {
  visibility: visible;
  display: block;
}

.month.frequency {
  visibility: hidden;
  display: none;
}
/* card pros */
.card.pros{
  background: var(--LinearGradient);
}
.card.pros button{
  background: var(--VeryLightGrayishBlue);
}

/* --- button --- */
.card button{
    background: linear-gradient(236deg, #696fdd, #a3a8f0);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* color: #ffff; */
    letter-spacing: 0.23rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10%;
    padding: 5%;
}
button{
  border: #fff 1px solid;
  color: #fff;
}
.card button:hover{
  background: none;
  border: rgb(179, 181, 198) inset 0.14rem;
  color:  #696fdd;
  font-weight: bold;
}
.pros button{
  color:  #696fdd;
}
.pros button:hover{
  background-color: var(--LinearGradient);
  color: #fff;
  border: 0.1em solid #fff;
}
/* VERSION DESKTOP */
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    align-items: center;
    justify-content: center;
    grid-template: 0.5fr 1fr/ repeat(3, 28%);
    padding-bottom: 2.5%;
    background-position: 1158px 0;
  }
  header {
    grid-area: 1/2/2/3;
  }
  #basic {
    grid-area: 2/1/3/2;
  }
  #pros {
    grid-area: 2/2/3/3;
  }
  #master {
    grid-area: 2/3/3/4;
  }
  .card.pros {
    height: 500px;
  }
  div.card{
    margin: 0;
    box-shadow: 0px 0px 6px rgba(109,112,141,0.24);
  }
  div.card:nth-child(2){
   background-color:pink;
  }
  
}

/* Feel free to remove these styles or customise in your own stylesheet
*/
  .attribution { font-size: 11px; text-align: center; }
  .attribution a{ color: hsl(325, 100%, 46%);}
